@charset "utf-8";

header{
    height: 90px;
    width: 500px;
    border-color: #eeeeee;
    border-left-width: 5px;
    border-left-style: solid;
    border-top-width: 5px;
    border-top-style: solid;
    border-right-width: 5px;
    border-right-style: solid;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

body{
    background-color: red;
    color: white;
    text-align: left;
    padding: 50px;
}

#nav {
    line-height: 30px;
    background-color: #eeeeee;
    height: 500px;
    width: 20%;
    float: left;
    padding: 5px;
}
#section {
    /*height: 60%;*/
    width: 76%;
    float: left;
    padding: 10px;
}
#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}