@charset "utf-8";

#box{
    background-color: transparent;
}

#header_css{
    height: 100px;
    width: auto;
    text-align: center;
    background-color: aqua;
    /*padding: 5px;*/
}

div.left {
    height: 500px;
    width: 220px;
    float: left;
    background-color: chartreuse;
    /*padding: 5px;*/
}

div.l_box {
    height: 500px;
    margin-left: 220px;
    background-color: aquamarine;
    /*padding: 5px;*/
}

#mid_con {
    width: auto;
    height: 500px;
    /*padding: 5px;*/
}

footer{
    width: auto;
    height: 110px;
    padding: 5px;
    background-color: bisque;
}
