#box{
    background-color: transparent;
}

#header_css{
    height: 100px;
    width: 1120px;
    text-align: left;
    line-height: 100px;
    background-color: aqua;
    /*padding: 5px;*/
}

#left {
    height: 500px;
    width: 220px;
    float: left;
    background-color: chartreuse;
    /*padding: 5px;*/
}

#l_box {
    height: 500px;
    margin-left: 220px;
    background-color: aquamarine;
    /*padding: 5px;*/
}

#mid_con {
    width: 1120px;
    height: 500px;
    /*padding: 5px;*/
}

footer{
    width: 1120px;
    height: 110px;
    padding: 5px;
    background-color: bisque;
}

