<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}默认标题{% endblock %} - 自强学习</title>
    {% block headcss %}
        <link rel="stylesheet" type="text/css" href="/static/zabbixapps/css/index.css">
        <link rel="stylesheet" type="text/css" href="/static/zabbixapps/css/style.css">
    {% endblock %}
</head>

<body>
{% block bodytop %}
    <div id="top">
    {% block nav %}
        {% include 'main/header.html' %}
    {% endblock %}

    {% block left %}
        {% include 'main/left.html' %}
    {% endblock %}

    {% block content %}
        <div>这里是默认内容，所有继承自这个模板的，如果不覆盖就显示这里的内容。</div>
    {% endblock %}

{% endblock %}<!-- end block bodytop -->

{% include 'main/footer.html' %}

</div>


</body>
</html>