{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ site_name }}</title>
        <meta name="keywords" content="{{ site_name }}"/>
        <meta name="description" content="{{ site_desc }}"/>
        <link type="text/css" href='{% static "zabbixapps/css/style.css" %}' rel="stylesheet">
    {#    <script type="text/javascript" src='{% static "jquery/jquery-3.1.1.js" %}'></script>#}
    {#    <script type="text/javascript" src='{% static "base/js/sliders.js" %}'></script>#}
    </head>

    <body id="box">
        <!--头部-->
        <div id="header_css">
            {% include "main/header.html" %}
        </div>

        <!--内容-->
        <article id="mid_con">
            <div class="left">
                {% include "main/left.html" %}
            </div>
            <div class="l_box">
                <iframe style="height: 495px;width: 900px" src="echarts" name="right"></iframe>
                {% include "main/content.html" %}
                <!-- banner代码 结束 -->
                {% block content %}{% endblock %}
            </div>
        </article>


        <footer>
            {% include "main/footer.html" %}
        </footer>
    </body>
</html>